<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>精彩活动</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/index/css/active.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="thumbnail">
                        <img src="__STATIC__/index/img/easylove.jpg" alt="...">
                        <div class="caption">
                            <h3>3月29日红树林徒步</h3>
                            <p>面朝大海，戏风游水！！面朝大海，戏风游水！！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="" onsubmit="return false" class="form-horizontal">
                        <div class="oneself">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">姓名<i>*</i></label>
                                <div class="col-sm-10 ">
                                    <input type="text" class="form-control auth" placeholder="姓名" name="username">
                                    <span class="error">姓名不能为空！</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别<i>*</i></label>
                                <div class="col-sm-10" style="height: 34px;line-height: 34px">
                                    <label style="margin-right: 20px">
                                        <input type="radio" name="sex" value="male" checked style="margin-right: 5px">男
                                    </label>
                                    <label>
                                        <input type="radio" name="sex" value="female" style="margin-right: 5px">女
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">电话<i>*</i></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control auth" placeholder="telphone" name="tel">
                                    <span class="error">号码有误！</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">家乡<i>*</i></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control auth" placeholder="广东深圳市" name="hometown">
                                    <span class="error">家乡不能为空！</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">职业<i>*</i></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control auth" placeholder="程序员" name="worker">
                                    <span class="error">请填写您的职业！</span>
                                </div>
                            </div>

                            <button class="btn defalut-btn finish sub" style="width: 100%;">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>

</html>