<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>EASY LOVE</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/index/css/index.css" rel="stylesheet">
    <link href="__STATIC__/index/css/heart.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">

    <div class="content-main">
        <div class="container">
            <h1 class="love-title">EASY LOVE</h1>
        </div>
    </div>
    <div class="content-secondary">

        <div class="container">

            <form action="" onsubmit="return false" class="form-horizontal">
                <div class="oneself">
                    <!--<div class="form-group">-->
                        <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名<i>*</i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control auth" placeholder="姓名" name="username">
                            <span class="error">姓名不能为空！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">出生日期<i>*</i></label>
                        <div class="col-sm-10" >
                            <div class="col-sm-3" style="margin-bottom: 10px">
                                <select class="form-control year"  name="YYYY" onchange="YYYYDD(this.value)">
                                    <option value="" selected>请选择 年</option>
                                </select>
                            </div>
                            <div class="col-sm-3"  style="margin-bottom: 10px">
                                <select class="form-control month" name="MM" onchange="MMDD(this.value)">
                                    <option value="" selected>选择 月</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control day" name="DD">
                                    <option value="" selected>选择 日</option>
                                </select>
                            </div>

                            <!--<input type="text" class="form-control " placeholder="年龄" name="age">-->
                            <!--<span class="error">年龄错误！</span>-->
                        </div>
                    </div>
                    <div  class="form-group">
                        <label class="col-sm-2 control-label">性别<i>*</i></label>
                        <div class="col-sm-10" style="height: 34px;line-height: 34px">
                            <label style="margin-right: 20px">
                                <input type="radio" name="sex" value="male" checked style="margin-right: 5px">男
                            </label>
                            <label>
                                <input type="radio" name="sex" value="female" style="margin-right: 5px">女
                            </label>
                        </div>

                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputEmail1">邮箱</label>-->
                        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话<i>*</i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control auth" placeholder="telphone" name="tel">
                            <span class="error">号码有误！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">微信号<i>*</i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control auth" placeholder="weChat" name="wechat">
                            <span class="error">微信号不能为空！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">家乡<i>*</i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control auth" placeholder="广东深圳市" name="hometown">
                            <span class="error">家乡不能为空！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身高</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="身高cm" name="height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">体重</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="体重kg" name="weight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">职业<i>*</i></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control auth" placeholder="程序员" name="worker">
                            <span class="error">请填写您的职业！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">月薪资范围</label>
                        <div class="col-sm-10">
                            <select class="form-control " name="salary">
                                <option >请选择</option>
                                <option >5k</option>
                                <option>5-8K</option>
                                <option>8-10K</option>
                                <option>10-12K</option>
                                <option>12-15K</option>
                                <option>15-20K</option>
                                <option>20K以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学历<i>*</i></label>
                        <div class="col-sm-10">
                            <select class="form-control " name="education">
                                <option >请选择</option>
                                <option >高中</option>
                                <option>专科</option>
                                <option>本科</option>
                                <option>研究生及以上</option>
                            </select>
                            <span class="error">请选择您的学历！</span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 23px">
                        <label class="col-sm-2 control-label" for="exampleInputFile">头像</label>
                        <div class="col-sm-10">
                            <input type="file" id="exampleInputFile" style="display: none"/>
                            <input type="hidden" name="face">
                            <button class="upload">上传图片</button>
                            <img src="" class="imgg" >
                        </div>

                    </div>



                    <!--<div class="col-sm-offset-2 col-sm-10">-->

                        <a href="javascript:;" class="btn btn-default next" style="width: 100%;background-color: #8484CA">提交</a>
                    <!--</div>-->

                </div>

                <div class="selfLover" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">家乡</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="广东深圳市" name="lover_hometown">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身高</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="身高cm" name="lover_height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">体重</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="体重kg" name="lover_weight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">职业</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="老师" name="lover_worker">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">月薪资范围</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="lover_salary">
                                <option >请选择</option>
                                <option >5k</option>
                                <option>8K</option>
                                <option>10K</option>
                                <option>12K</option>
                                <option>15K</option>
                                <option>15K以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="lover_education">
                                <option >请选择</option>
                                <option >高中</option>
                                <option>专科</option>
                                <option>本科</option>
                                <option>研究生及以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄段</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="age_range">
                                <option >无特定要求</option>
                                <option >18-25</option>
                                <option>25-30</option>
                                <option>30-35</option>
                                <option>35-40</option>
                                <option>40-45</option>
                                <option>45-50</option>
                                <option>50以上</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn defalut-btn finish" style="width: 100%;background-color: #8484CA">提交</button>
                </div>
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
                <!--</div>-->


            </form>
            <div class="end"  >
                <div class="heart"></div>
                <div class="body">
                   <h1> 很高兴，您成为我们的会员，我们会在<i>Easy Love</i> 公众号发布相亲活动，请及时留意！！！</h1>
                </div>
            </div>

        </div>

    </div>


</div>



<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="__STATIC__/index/js/date.js"></script>
<script src="__STATIC__/index/js/index.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>

</script>
</body>
</html>