<!--header-->
{include file="public/_meta" title="娱乐资讯"/}
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
<style>
  @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('__STATIC__/admin/fonts/glyphicons-halflings-regular.eot');
    src: url('__STATIC__/admin/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('__STATIC__/admin/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('__STATIC__/admin/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('__STATIC__/admin/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
.img{
  width: 200px;
  height: 270px;
  border-radius:10px;
  float: left;
}
  .modal-body .msg li{
    margin: 20px;
    background-color: #0e90d2;
    font-size: 18px;
    font-weight: bold;
  }
  .modal-body  li span{

    padding: 15px;
  }
  .modal-body .remarks li{
    margin: 20px;
    border: 1px solid #666;
    font-size: 18px;

  }
  /*.glyphicon {*/
    /*position: relative;*/
    /*top: 1px;*/
    /*display: inline-block;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*-webkit-font-smoothing: antialiased;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/
    /*-moz-osx-font-smoothing: grayscale;*/
  /*}*/
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 会员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <div class="text-c">
    <form action="{:url('member/lst')}" method="get" name="form" onsubmit="return false">
	 <span class="select-box inline">
		  <select name="salary" class="select">
          <option value="0">薪资分类</option>

            <option >5k</option>
            <option>5-8K</option>
            <option>8-10K</option>
            <option>10-12K</option>
            <option>12-15K</option>
            <option>15-20K</option>
            <option>20K以上</option>

        </select>
		</span>
      <span class="select-box inline">
		  <select name="education" class="select">
          <option value="">学历分类</option>

             <option >高中</option>
              <option>专科</option>
              <option>本科</option>
              <option>研究生及以上</option>

        </select>
		</span>
      <span class="select-box inline">
		  <select name="sex" class="select">
          <option value="">男女分类</option>

             <option >male</option>
              <option>female</option>


        </select>
		</span>
      <!--日期范围：-->
      <!--<input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="" style="width:120px;" >-->
      <!-- - -->
      <!--<input type="text" name="end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  style="width:120px;">-->

      <input type="text" name="tel" id="" value="" placeholder="tel" style="width:250px" class="input-text">

      <button name="" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
  </div>

  <div class="mt-20">
    <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
      <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th width="80">姓名</th>
        <th width="80">出生日期</th>
        <th width="80">性别</th>
        <th width="80">手机</th>
        <th width="80">邮箱</th>
        <th width="60">家乡</th>
        <th width="120">职业</th>
        <th width="120">月薪收入范围</th>
        <th width="120">学历</th>
        <th width="120">本人照</th>
        <th width="120">注册时间</th>
        <th width="120">操作</th>
      </tr>
      </thead>
      <tbody id="template">
      {volist name="data" id="vo"}
      <tr class="text-c" >

        <td><input type="checkbox" value="" name=""></td>
        <td>{$vo.id}</td>
        <td class="text-l"><u style="cursor:pointer" class="text-primary"  title="查看">{$vo.username}</u></td>
        <td>{$vo.birth_date}</td>
        <td>{$vo.sex}</td>
        <td>{$vo.tel}</td>
        <td>{$vo.email}</td>
        <td>{$vo.hometown}</td>
        <td>{$vo.worker}</td>
        <td>{$vo.salary}</td>
        <td>{$vo.education}</td>

        <td><img width="60" height="60" class="picture-thumb" src="__STATIC__/uploads/{$vo.face}"></td>
        <td>{$vo.create_time}</td>

        <td class="f-14 td-manage">
          <a style="text-decoration:none" class="ml-5" onClick="modaledit(this)" data-url="{:url('MemberRemark/remarkLstById')}?id={$vo.id}" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
          <a style="text-decoration:none" class="ml-5" onClick="modaldemo(this)" href="javascript:;" title="删除" data-url="{:url('member/getOne')}?id={$vo.id}"><i class="Hui-iconfont">&#xe717;</i></a>
        </td>
      </tr>
      {/volist}

      </tbody>
    </table>


    <div id="laypage"></div>
  </div>
  <!--<div style="margin-left:400px">{$data|raw}</div>-->
  <div id="page" style="margin-left:400px"><?php echo $page;?></div>

</div>

<!--header-->
{include file="public/_footer" /}
<!--查看更多-->
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content radius">
      <div class="modal-header">
        <h3 class="modal-title">期望对象</h3>
        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
      </div>
      <div class="modal-body">
        <div ><img class="img" src="__STATIC__/admin/img/timg.jpg" alt=""></div>
        <div class="right" style="position: absolute;left: 50%;">
          <ul class="msg">
            <li><span>学历</span><span>11</span></li>
            <li><span>月薪</span><span></span></li>
            <li><span>家乡</span><span></span></li>
            <li><span>身高cm</span><span></span></li>
            <li><span>体重kg</span><span></span></li>
          </ul>
        </div>

        <div style="clear: both"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="closemodal()">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="closemodal()">关闭</button>
      </div>
    </div>
  </div>
</div>

<!--edit更多-->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content radius">
      <div class="modal-header">
        <h3 class="modal-title">后台备注：</h3>
        <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
      </div>
      <div class="modal-body">

        <!--<form action="{:url('member/lst')}" method="get" name="form" onsubmit="return false">-->
        <input type="hidden" name="member_id" value="">
          <textarea class="textarea" placeholder="参加活动履历..." rows="" cols="" name="remark"></textarea>
          <ul class="remarks">

          </ul>
          <!--<input type="text" name="tel" id="" value="" placeholder="tel" style="width:250px" class="input-text">-->

          <!--<button name="" id="edit" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>-->
        <!--</form>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="remarkmodal()">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="closemodal()">关闭</button>
      </div>
    </div>
  </div>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/laypage/1.2/laypage.js"></script>

<script type="text/javascript">
    function remarkmodal() {
        var remark = $('textarea[name=remark]').val();
        var id = $('input[name=member_id]').val(),
        url = "/admin.php/member_remark/addRemark.html",
        data = "member_id="+id+"&remark="+remark;
        $.post(url,data,function (data) {
           if(data == true){
               $("#modal-edit").modal("hide");
           }
        });
        // console.log(id,remark);
    }
    function modaledit(a) {
        var url = $(a).data('url');
        id = url.substring(url.indexOf('?')+4);
       $("input[name=member_id]").val(id);

        $.get(url,function (data) {
            var str= '';
            for(var i in data){
                var timestamp = new Date(data[i].create_time * 1000);
                var date =timestamp.toLocaleDateString().replace(/\//g, "-") + " " + timestamp.toTimeString().substr(0, 8);
                str += `<li><span>${data[i].remark}</span> <span>${date}</span></li>`;
            }
            $(".modal-body .remarks").html(str);
        });

        $("#modal-edit").modal("show");
    }
    function modaldemo(a){
       var url = $(a).data('url');
       $.get(url,function (data) {
           if(data.face){
               $(".modal-body").find('img').attr('src','__STATIC__/uploads/'+data.face);
           }
           delete data.face;

           var str= '';
           for(var i in data){
               str += `<li><span>${i}</span><span>${data[i]}</span></li>`;
           }
           $(".modal-body .msg").html(str);

       })
        $("#modal-demo").modal("show")
    }
    function closemodal() {
        $("#modal-demo").modal("hide")
        // $("#modal-edit").modal("hide")
    }


    var formData;
  $("#search").on('click',function(){
      formData =$('form').serialize();
      var url = '{:url("member/lst")}';
      $.post(url,{'data':formData},function (data) {

          var list = data.data;

          var tbody =$('#template');
          if($(list).size() == 0){
              console.log(list);
              return alert('无数据')
          }else {
              tbody.html('');
          };
          $(list).each(function ($k,$vo) {
              render(tbody,$vo);
            //   src = "/static/uploads/" + $vo.face;
            //
            //   str = " <tr class=\"text-c\" >\n" +
            //       "\n" +
            //       "        <td><input type=\"checkbox\" value=\"\" name=\"\"></td>\n" +
            //       "        <td>"+$vo.id+"</td>\n" +
            //       "        <td class=\"text-l\"><u style=\"cursor:pointer\" class=\"text-primary\"  title=\"查看\">"+ $vo.username+"</u></td>\n" +
            //       "        <td>"+$vo.birth_date+"</td>\n" +
            //       "        <td>"+$vo.sex+"</td>\n" +
            //       "        <td>"+$vo.tel+"</td>\n" +
            //       "        <td>"+$vo.wechat+"</td>\n" +
            //       "        <td>"+$vo.hometown+"</td>\n" +
            //       "        <td>"+$vo.worker+"</td>\n" +
            //       "        <td>"+$vo.salary+"</td>\n" +
            //       "        <td>"+$vo.education+"</td>\n" +
            //       "\n" +
            //       "        <td><img width=\"60\" height=\"60\" class=\"picture-thumb\" src=\"__STATIC__/uploads/"+$vo.face+"\"></td>\n" +
            //       "        <td>"+$vo.create_time+"</td>\n" +
            //       "\n" +
            //       "        <td class=\"f-14 td-manage\">\n" +
            //       "          <a style=\"text-decoration:none\" class=\"ml-5\" onClick=\"article_edit('资讯编辑','article-add.html','10001')\" href=\"javascript:;\" title=\"编辑\"><i class=\"Hui-iconfont\">&#xe6df;</i></a>\n" +
            //       "          <a style=\"text-decoration:none\" class=\"ml-5\" onClick=\"app_del(this)\" href=\"javascript:;\" title=\"删除\" del_url=\"{:url('member/delete')}?id="+$vo.id+"\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>\n" +
            //       "        </td>\n" +
            //       "      </tr>";
            //
            // tbody.append(str);
            // tbody.children("tr:last-child").find('img').attr("src",src);

          });

          var page = "<nav id='Page_navigation' aria-label=\"Page navigation\">\n" +
              "  <ul class=\"pagination\">\n" ;
              // "    <li>\n" +
              // "      <a href=\"#\" aria-label=\"Previous\">\n" +
              // "        <span aria-hidden=\"true\">&laquo;</span>\n" +
              // "      </a>\n" +
              // "    </li>\n" +
            for(var i= 1;i<=data.last_page;i++){
                page += `<li><a href="/admin.php/member/litpage.html?${formData}&page=${i}">${i}</a></li>`;

            }


             page += "   " +
              //    " <li>\n" +
              // "      <a href=\"#\" aria-label=\"Next\">\n" +
              // "        <span aria-hidden=\"true\">&raquo;</span>\n" +
              // "      </a>\n" +
              // "    </li>\n" +
              "  </ul>\n" +
              "</nav>"
          $("#page").html(page);
          $("#Page_navigation").find('a').on("click",function (e) {
              $.get($(this).attr('href'),function (data) {
                  if($(data).size() == 0){
                      return alert('无数据')
                  }else {
                      tbody.html('');
                  };
                  $(data).each(function ($k,$vo) {

                      render(tbody,$vo);
                  });
              });
              return false;

          });
      });
  });
function render(tbody,$vo) {
    src = "/static/uploads/" + $vo.face;

    str = " <tr class=\"text-c\" >\n" +
        "\n" +
        "        <td><input type=\"checkbox\" value=\"\" name=\"\"></td>\n" +
        "        <td>"+$vo.id+"</td>\n" +
        "        <td class=\"text-l\"><u style=\"cursor:pointer\" class=\"text-primary\"  title=\"查看\">"+ $vo.username+"</u></td>\n" +
        "        <td>"+$vo.birth_date+"</td>\n" +
        "        <td>"+$vo.sex+"</td>\n" +
        "        <td>"+$vo.tel+"</td>\n" +
        "        <td>"+$vo.email+"</td>\n" +
        "        <td>"+$vo.hometown+"</td>\n" +
        "        <td>"+$vo.worker+"</td>\n" +
        "        <td>"+$vo.salary+"</td>\n" +
        "        <td>"+$vo.education+"</td>\n" +
        "\n" +
        "        <td><img width=\"60\" height=\"60\" class=\"picture-thumb\" src=\"__STATIC__/uploads/"+$vo.face+"\"></td>\n" +
        "        <td>"+$vo.create_time+"</td>\n" +
        "\n" +
        "        <td class=\"f-14 td-manage\">\n" +
        "          <a style=\"text-decoration:none\" class=\"ml-5\" onClick=\"modaldemo(this)\" href=\"javascript:;\" title=\"删除\" data-url=\"{:url('member/getOne')}?id="+$vo.id+"\"><i class=\"Hui-iconfont\">&#xe717;</i></a>\n" +
        "        </td>\n" +
        "      </tr>";

    tbody.append(str);
    tbody.children("tr:last-child").find('img').attr("src",src);


}
</script>
<style>
  .imooc-app .pagination li{display:inline; padding-left:10px;}
  .pagination .active{color:red}
  .pagination .disabled{color:#888888}
</style>
</body>
</html>