*{
    margin: 0;
    padding: 0;
}
html,body{
    /*background-image: url("../img/bg.jpg") ;*/
    background-color: lightpink;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.upload{
    /*background: #0e90d2;*/
    /*background: #848689;*/
    width: 80px;
    height: 40px;
    border-radius:10px ;
    border-top-color:  #8486BB;
    border-left-color:  #8486BB;
    margin-bottom: 10px;
    box-shadow:inset -5px -3px 40px #8486BB,inset 5px 3px 40px #8486BB;
}
i{
    color: #f40;
}
h1.love-title{
    text-align: center;
    color:#8484CA ;
}
.oneself{
    margin-bottom: 50px;
}
.selfLover{
    display: none;
    /*height: 100%;*/
    margin-bottom: 100px;
}
.imgg{
    display: none;
    width: 100%;

}
span.error{
    display: none;
    color: #00ff00;
}
.end{
    display: none;

    margin-bottom:50px;
}
.end .heart{
    border-radius: 50%;

    -webkit-background-size: 100%;
    background-size: 100%;
    /*width: 100%;*/
    height: 345px;
}
.end .body{
    text-indent: 5em;
    color: #8484CA;
    margin-top: -100px ;
    margin-bottom: 150px ;
    padding:0 10px;
}
.finish,.next{
    width: 88% !important;
    margin-left:13%;
    display: block;
}
@media screen and (max-width: 765px) {
   .finish, .next{
        width: 100% !important;
        margin-left:0px;
    }
}